.navbar-nav .nav-link:hover {
    background-color: black; 
    color:white; 
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  footer {
    margin-top: auto;
  }