<div class="container">
    <div>
        <h4>Ajouter une location</h4>
    </div>
    <form #createUtilisateur="ngForm" (ngSubmit)="submit(createUtilisateur.value)">
        <label class="form-label"> Civilité : </label>
        <div>
            <select class="form-select" name="civil" id="icvil" ngModel>
                <option value="" disabled selected hidden>Choisissez une option...</option>
                <option value="madame">Madame</option>
                <option value="monsieur">Monsieur</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" ngModel>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="mail" name="mail" ngModel>
        </div>
        <div class="mb-3">
            <label class="form-label">Téléphone</label>
            <input type="text" class="form-control" id="tel" name="tel" ngModel>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="mdp" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
