<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/villa.jpg"     >
      </div>
  </div>
</div>

<h1 class="mt-5" style="padding-left: 30px;">Nos valeurs</h1>

<div class="container">
    <div class="row">
        
        <div class="col-7">
            <p>La satisfaction de nos clients est notre extrême priorité. Nous nous assurons de la protection et de l'entretien de vos bien
                immobiliers. Louer devient alors beaucoup plus simple et sans tracas. Vous n'aurez plus à craindre qu'un locataire dégrade votre bien
                ou essaye de rester sans votre consentement. Nous sommes efficace, attentionné et méticuleux. Nous tolérons le rascisme. 
            </p>
        </div>
    </div>
</div>

<h1 class="mt-5" style="padding-left: 30px; margin-top: 30px;">Nos solutions</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/avocat.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Des avocats hors pair</h5>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/milice.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Milice privée</h5>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/menage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Techniciens de surface minutieux</h5>
                </div>
              </div>
        </div>
    </div>
</div>
